@model WebApplication1.Models.Tours
@{
    ViewBag.Title = Model.name;
}

<div class="jumbotron">
    <h1>@Model.name</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <p><img src="@Model.img_path" name="tour_img" style="width: 100%; height: auto" /></p>
        <p><a href="@Url.Action("CreateApplication", "Applications", new { tourId = Model.Id })" class="btn btn-primary btn-lg">Buy Tour&raquo;</a></p>
        <p>@Model.description</p>
    </div>
</div>
